/* General Reset */
* {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    background: linear-gradient(135deg, #ffffff, #e2e2ff);
}

/* Header */
.header {
    width: 100%;
    height: 70px;
    background-color: #FBAF41;
}

/* Footer */
.footer {
    width: 100%;
    height: 60px;
    background-color: #213B9A;
}

/* Container Layout */
.container {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background: #d3d3d3;
}

/* Sidebar *//* 🎨 Sidebar Styles */
.sidebar {
    width: 55px;
    height: 100%;
    background-color: #343A40;
    padding: 10px 0;
    transition: width 0.3s ease-in-out;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 🎭 Sidebar Open State */
.sidebar.open {
    width: 200px;
}

.sidebar-content {
    height: 100%;
    background-color: #343a40;
}

.sidebar-item {
    font-style: normal;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    white-space: nowrap; /* Prevents text from wrapping */
    user-select: none; /* Standard */
    cursor: pointer; /* Makes the cursor change to a hand */
}

.icon {
    font-style: normal;
}

.sidebar-item i {
    padding-right: 20px;
}

.sidebar-item span {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.sidebar-item.open span {
    opacity: 1;
}

.sidebar-item:hover {
    background-color: #212529;
}

/* 🍔 Burger Button */
.burger-btn {
    position: relative;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: #FFB400;
    background: #343a40;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.sidebar-item.open .burger-btn {
    margin-left: auto;
}

.burger-btn:hover {
    background: #212529;
}

/* Main Content */
.content {
    flex-grow: 1; /* Takes up remaining space */
    padding: 20px;
}