<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAMS Internship Assessment System - INTERNSHIP OFFICER</title>
    <link rel="stylesheet" href="/Internship-Assessment-System/static/css/components.css">
</head>
<body class="body">

    <!-- Header -->
    <iframe src="/Internship-Assessment-System/templates/_components/header.html" class="header" id="headerFrame"></iframe>
    
    <div class="container">
        <!-- Sidebar -->
        <iframe src="/Internship-Assessment-System/templates/_components/sidebar.html" class="sidebar" id="sidebarFrame"></iframe>

        <script>
            const userRole = "faculty";

            document.getElementById("sidebarFrame").addEventListener("load", function() {
                this.contentWindow.postMessage({ role: userRole }, "*");
            });

            const userRole2 = "INTERNSHIP OFFICER";

            document.getElementById("headerFrame").addEventListener("load", function() {
                this.contentWindow.postMessage({ role: userRole2 }, "*");
            });
        </script>

        <!-- Main Content -->
        <iframe id="content" src="/Internship-Assessment-System/templates/schooluser/faculty/home.html" class="content"></iframe>
    </div>

    <!-- Footer -->
    <iframe src="/Internship-Assessment-System/templates/_components/footer.html" class="footer"></iframe>
</body>
</html>
