<div class="header-container">
    <div class="header-logo">
        <img src="../../templates/_components/Images/header_apclogo.png" alt="Logo" class="logo">
    </div>
    <div class="header-item">
        <div class="role" id="roleText">*USER ROLE*</div>
        <div class="vertical-line"></div>
        <div class="header-item">
            <img src="/Internship-Assessment-System/static/images/components/notificationbell_icon.png" alt="Logo" class="icon">
        </div>
        <img src="/Internship-Assessment-System/static/images/components/sensei.png" alt="Profile Picture" class="profile-pic">
    </div>
</div>

<link rel="stylesheet" href="/Internship-Assessment-System/templates/_components/styles.css">
<script src="/Internship-Assessment-System/templates/_components/header.js"></script>
