<div class="header-container">
    <div class="header-logo">
        <a href="../../templates/schooluser\login\index.php" target="_blank" rel="noopener noreferrer">
            <img src="../../static\images\components\header_apclogo2.png" alt="Logo" class="logo">
        </a>
    </div>
    <div class="header-item">
        <div class="role" id="roleText">[[USER ROLE]]</div>
        <div class="vertical-line"></div>
        <div class="header-item">
            <img src="../../static/images/components/notificationbell_icon.png" alt="Logo" class="icon">
        </div>
        <img src="../../static/images/components/sensei.png" alt="Profile Picture" class="profile-pic" onclick="logout()">
    </div>
</div>

<link rel="stylesheet" href="styles.css">
<script src="header.js"></script>
