<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap" rel="stylesheet">

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internship Assessment System</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    
    <!-- (1) Header (RIAS) -->

    <header class="header">
      <div class="container header-content">
        <div class="header-text">
          <h1 class="site-title">RIAS</h1>
          <p class="subtitle">
            RAMS <br> INTERNSHIP <br> ASSESSMENT SYSTEM
          </p>
        </div>
        <img src="/static/images/header_apclogo.png" alt="Logo" class="header-logo">
      </div>
    </header>

    <!-- (2) Navigation Pane (Sign In) -->
      
    <nav class="nav">
      <div class="container">
        </h1>
        <ul class="nav-list">
          <li><a href="">ABOUT</a></li>
          <li><a href="">PRIVACY POLICY</a></li>
          <li><a href="">TERMS OF USE</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
    </nav>

    <!-- (3) Landing Page (RIAS) -->
    
   <div class="hero">
      <div class="container hero-content">
        <h1>RIAS</h1>
        <p class="subtitle">
          RAMS <br> INTERNSHIP <br> ASSESSMENT SYSTEM
        </p>
      </div>
    </div>

      
    <div class="content-container">
      <section class="content">
        <h1>Title 1</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          provident laboriosam tenetur corporis autem temporibus quod, fugiat a,
        </p>
      </section>
      <section class="content">
        <h1>Title 2</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          provident laboriosam tenetur corporis autem temporibus quod, fugiat a,
        </p>
      </section>
      <section class="content">
        <h1>Title 3</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          provident laboriosam tenetur corporis autem temporibus quod, fugiat a,
        </p>
      </section>
      <section class="content">
        <h1>Title 4</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          provident laboriosam tenetur corporis autem temporibus quod, fugiat a,
        </p>
      </section>
    </div>

    <script src="/static/js/app.js"></script>
  </body>
</html>