<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/components.css">
</head>
<body class="body">

    <!-- Header -->
    <iframe src="/templates/_components/header.html" class="header"></iframe>

    <div class="container">
        <!-- Sidebar -->
        <iframe src="/templates/schooluser/student/sidebar.html" class="sidebar"></iframe>

        <!-- Main Content -->
        <iframe id="content" src="/templates/schooluser/student/home.html" class="content"></iframe>
    </div>

    <!-- Footer -->
    <iframe src="/templates/_components/footer.html" class="footer"></iframe>
</body>
</html>
